/* header */
.title-template-text {
  width: 100%;        
}

.content-top {
  margin-top: 60px;
}

.content-top-extention {
  margin-top: 80px; 
}

.caption-header {
  transform: scale(1.2); 
  color: white;
  text-align: center; 
  margin-top: -300px;
}

.description-header {
  height: 215px; 
  margin-bottom: 30px; 
  padding-top: 10px; 
  color: white; 
  text-align: center;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.header-place {
  width: 100%;
  height: 500px;
}

.shadow-overlay {
  background-color: rgba(0, 0, 0, 0.3);        
  margin-top: -500px;
}

.header-overlay {
  width: 100%; 
  height: 500px;
}

.footer-overlay {
  width: 100%; 
  height: 200px; 
  margin-top: -200px;
}
/* end header */

/* comments componen */
.sub-comment-form {
  display: none;
}

.leveling {
  margin-left: -15px;
}

.action-comments-link {
  font-size: 12px; 
  color: #0085a1;
}

.add-btn-comment {
  margin-top: 5px; 
  float: right;
}

.text-comment {
  margin: 0;
}
/* end comments component */